extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer not working
          p
            | One of the most common reasons for a slow computer are programs running in the background.
          p
            a.btn.btn-primary.btn-lg(href='#') Read More
        .col-md-5
          img(src='images/mouse.jpg')
  .row
    .col-md-4
      .well
        h4 Hardware Problems
        p
          | Hardware Solutions, an exterior shutter hardware manufacturing company, was formed from the needs we experienced in our 25 years in the construction business. We needed shutter hinges that were user friendly, durable, and withstanding of South Louisiana climate. All of the hinges, shutter dogs that were on the market were not getting the job done. This lead us to start designing and manufacturing our own shutter hardware to fulfil our clients needs. 
    .col-md-4
      .well
        h4 Software Problems
        p
          | Hardware Solutions, an exterior shutter hardware manufacturing company, was formed from the needs we experienced in our 25 years in the construction business. We needed shutter hinges that were user friendly, durable, and withstanding of South Louisiana climate. All of the hinges, shutter dogs that were on the market were not getting the job done. This lead us to start designing and manufacturing our own shutter hardware to fulfil our clients needs.  
    .col-md-4
      .well
        h4 PC tuning Problems
        p
          | Hardware Solutions, an exterior shutter hardware manufacturing company, was formed from the needs we experienced in our 25 years in the construction business. We needed shutter hinges that were user friendly, durable, and withstanding of South Louisiana climate. All of the hinges, shutter dogs that were on the market were not getting the job done. This lead us to start designing and manufacturing our own shutter hardware to fulfil our clients needs.
